@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');
@import "tailwindcss";


@theme {
    --color-off-white: #F1E5D6;
    --color-burgundy: #82254F;
    --color-soft-black: #12110E;
    --color-main-green: #526B38;
    --color-light-green: #A8A152;

    --font-sugiyama: "Dr Sugiyama", cursive;

    --background-image-cheetah-background: url('assets/cheetah-background.png');
    --backgorund-image-nails: url('assets/nail-circle.jpg')
    --shadow-button: 0 4px 4px rgba(0, 0, 0, 0.5)

    

}

@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Thin.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./assets/fonts/Merchant-ExtraLight.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Light.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Regular.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Medium.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./assets/fonts/Merchant-SemiBold.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Bold.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./assets/fonts/Merchant-ExtraBold.ttf") format("truetype")
}
@font-face {
    font-family: Merchant;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./assets/fonts/Merchant-Black.ttf") format("truetype")
}
@font-face {
    font-family: Amoresa;
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url("./assets/fonts/Amoresa Regular.otf") format("opentype")
}



@layer base {
    * {
        margin: 0;
        padding: 0; 
    }
    
}







